.assign-roles-container form {
  margin-bottom: 15px;
}

.assign-roles-container input {
  margin-bottom: 10px;
}
.form-control-sm {
  margin-right: 10px;
}
.btn.btn-outline-success.btn-sm {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 35px;
  width: 100px;
  border: 2px solid black;
  font-size: 18px;
  padding-top: 1px;
  /* padding: ; */
  color: black;
  background-color: #999bae;
}
.btn-outline-success {
  height: 35px;
  width: 80px;
  border: 2px solid black;
}
.btn.btn-outline-success.btn-sm:hover,
.btn.btn-outline-success.btn-sm:active,
.btn.btn-outline-success.btn-sm:focus {
  background-color: #cccdd7; /* Adjust the color for hover, active, and focus states */
}
.table th {
  /* background-color: lightblue; */
  background-color: #808080;
  color: white;
}

.mid-content {
  margin-left: 30%;
}

.infoForm-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 1500px;
  margin-top: 5%;
}

.form-control-sm {
  margin-top: 4%;
  min-height: 20%;
}

.table-tm {
  padding: 1%;
  width: 85%;
  margin-left: -15%;
}

th,
td {
  border: 1px solid black;
  width: 10%;
}

th {
  background-color: #add8e6;
}


.address{
    font-size: 17px;
}

.btn-left{
  margin-left: 50%;
}

